@font-face {
  font-family: "Thin";
  src: url("./fonts/NotoSans-Thin.woff2") format("woff2"),
  url("./fonts/NotoSans-Thin.woff") format("woff"),
  url("./fonts/NotoSans-Thin.otf") format("opentype"),
  url("./fonts/NotoSans-Thin.eot?") format("eot");
}
@font-face {
  font-family: "Light";
  src: url("./fonts/NotoSans-Light.woff2") format("woff2"),
  url("./fonts/NotoSans-Light.woff") format("woff"),
  url("./fonts/NotoSans-Light.otf") format("opentype"),
  url("./fonts/NotoSans-Light.eot?") format("eot");
}
@font-face {
  font-family: "DemiLight";
  src: url("./fonts/NotoSans-DemiLight.woff2") format("woff2"),
  url("./fonts/NotoSans-DemiLight.woff") format("woff"),
  url("./fonts/NotoSans-DemiLight.otf") format("opentype"),
  url("./fonts/NotoSans-DemiLight.eot?") format("eot");
}
@font-face {
  font-family: "Regular";
  src: url("./fonts/NotoSans-Regular.woff2") format("woff2"),
  url("./fonts/NotoSans-Regular.woff") format("woff"),
  url("./fonts/NotoSans-Regular.otf") format("opentype"),
  url("./fonts/NotoSans-Regular.eot?") format("eot");
}
@font-face {
  font-family: "Medium";
  src: url("./fonts/NotoSans-Medium.woff2") format("woff2"),
  url("./fonts/NotoSans-Medium.woff") format("woff"),
  url("./fonts/NotoSans-Medium.otf") format("opentype"),
  url("./fonts/NotoSans-Medium.eot?") format("eot");
}
@font-face {
  font-family: "Black";
  src: url("./fonts/NotoSans-Black.woff2") format("woff2"),
  url("./fonts/NotoSans-Black.woff") format("woff"),
  url("./fonts/NotoSans-Black.otf") format("opentype"),
  url("./fonts/NotoSans-Black.eot?") format("eot");
}
@font-face {
  font-family: "Bold";
  src: url("./fonts/NotoSans-Bold.woff2") format("woff2"),
  url("./fonts/NotoSans-Bold.woff") format("woff"),
  url("./fonts/NotoSans-Bold.otf") format("opentype"),
  url("./fonts/NotoSans-Bold.eot?") format("eot");
}
